<%= breadcrumb %>

<div class="grid" data-packery='{ "itemSelector": ".grid-item" }'>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
</div>

<script src="https://unpkg.com/packery@2.1/dist/packery.pkgd.min.js"></script>
